{% extends 'content_base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-memberpage{% endblock %}

{% block content %}

<div class='row'>
    <div class='col-sm-4'>
    {% image page.image fill-400x500-c70 class='img-responsive center-block' %}
    </div>
    <div class='col-sm-8'>
        <div class='member-namepart'>
            <h1 class='name bebas'>{{ page.user.get_full_name|upper }}</h1>
            <h4 class='part bebas'>{{ page.voice_part }}</h4>
        </div>
        <div class='member-info'>
            <p><b>Call him: </b>{{ page.nickname }}</p>
            <p><b>Class year: </b>{{ page.graduation_year }}<p>
            <p><b>Major: </b>{{ page.major }}</p>
            <p><b>Hometown: </b>{{ page.hometown }}</p>
            <p><b>About {{ page.user.first_name }}: </b>{{ page.bio }}</p>
        </div>
    </div>
</div>
{% endblock %}